<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">

          <p>
            업체명 : 동지화캠핑장
            대표자 : 이영수,박현미
            사업자등록번호 : 000-000000-0000   <br>
            주소 : 강원 화천군 화천읍 신읍리 819
            전화번호 : 0507-1366-4720
            계좌번호 : 국민은행 000000-00-000000
          </p>
        </div>
      </div>
    </div>
  </footer>


</html>