<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="">
      <img src="/images/mainLogo_5.png" style="max-width:100%; height:3em">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <!--  <li class="nav-item active"><a href="index" class="nav-link">Home</a></li>  -->
        <li class="nav-item"><a href="preview" class="nav-link">시설안내</a></li>
        <li class="nav-item"><a href="operationGuide" class="nav-link">이용안내</a></li>
        <li class="nav-item"><a href="https://www.camfit.co.kr/camp/642ceb4d8688c5001e8d8802" class="nav-link">예약하기</a></li>
        <li class="nav-item"><a href="location" class="nav-link">오시는길</a></li>
        <li class="nav-item"><a href="contact" class="nav-link">공지사항</a></li>
      </ul>
    </div>
  </div>
</nav>


</html>