<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dongjihwa0602.mapper.NoticeMapper">
    <!--1. com.javadeveloperzone.dto.Notice alias 수정-->


    <!-- 게시글 리스트 -->
    <select id="getNoticeList" resultType="com.example.dongjihwa0602.dto.Notice">
        SELECT
            NO
                ,TITLE
                ,NAME
                ,CONTENT
                ,DATE_FORMAT(DATE, '%Y-%m-%d') AS DATE
                ,VIEWCNT
        FROM NOTICE
        ORDER BY NO DESC
    </select>


    <select id="noticeTotalCount" resultType="int">
        SELECT
          COUNT(*)
        FROM NOTICE
        WHERE 1=1
        <if test="type == 'title'">
            AND TITLE LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'content'">
            AND CONTENT LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <select id="getNoticeOne" resultType="com.example.dongjihwa0602.dto.Notice">
        SELECT
            NO
             ,TITLE
             ,NAME
             ,CONTENT
             ,DATE_FORMAT(DATE, '%Y-%m-%d') AS DATE
             ,VIEWCNT
        FROM NOTICE
        WHERE NO = #{NO}
    </select>

    <!-- 조회수 1증가 -->
    <update id="getReadNoticeCntCount">
        update NOTICE set VIEWCNT = VIEWCNT+1 where NO = #{no}
    </update>


    <!-- 게시글 등록 -->
    <insert id="saveNotice" parameterType="com.example.dongjihwa0602.dto.Notice">
        INSERT INTO NOTICE(
                           TITLE
                           ,CONTENT
                           ,NAME
                           )
        VALUES (
                #{title}
                ,#{content}
                ,#{name}
               )
    </insert>

</mapper>